<br>

<div class="panel panel-default">
    <div class="panel-heading">{{name}}</div>

<div style="padding: 20px">

<button type="button" class="btn btn-default btn-xxl" (click)="handleAddButtonClick()">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
</button>
<button type="button" class="btn btn-default btn-xxl" (click)="handleShowExample()">
    <span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span> Example
</button>

<br><br>

<div>
    <my-sheet [isData]="true" [guidId]="sheet.guidId" (eventSheetDeleted)="handleEventSheetDeleted($event)" (eventCellValueChanged)="handleEventCellValueChanged($event)" *ngFor="let sheet of sheets;"  ></my-sheet>
    <my-summary [summaryRow]="totalSummaryTest" *ngIf="isToShowSummary()" ></my-summary>
    <!--<my-summary [summaryRow]="totalSummaryTest" *ngIf="isToShowSummary()"></my-summary>-->
</div>

</div>

</div>
