


<div class="panel panel-default">
    <div class="panel-heading">{{name}}
    
    <div style="float: right;">
        <button type="button" class="btn btn-default btn-xs" (click)="onSheetDeleteButtonClick()">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
    </div>
</div>
    

    

<table class="table table-bordered excel" >

    <tr>
        <td  class="header" *ngFor="let cell of headerRow.cells">{{cell.value}}</td>
        <td class="options">
              
        </td>
    </tr>
    
    <tr *ngFor="let row of dataRows; let r=index;">

            <td *ngFor="let cell of row.cells; let c=index" >
                  <input [(ngModel)]="dataRows[r].cells[c].value" [attr.data-row]="r" [attr.data-col]="c" (focus)="onFocus(inp)" (blur)="onCellChange()" type="number"  #inp />
            </td>

            <td class="options">
        <button type="button" class="btn btn-default btn-xs" (click)="onAddButtonClick()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
        
        <button type="button" class="btn btn-default btn-xs" (click)="onDelButtonClick()">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        </button>
         
        <button type="button" class="btn btn-default btn-xs" (click)="onCopyButtonClick()">
            <span>C</span>
        </button>

        <!--<div class="dropdown"><button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Options<span class="caret"></span></button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a (click)="onAddButtonClick()" href="#">Add row</a></li>
                <li><a (click)="onDelButtonClick()" href="#">Remove row</a></li>
            </ul>
        </div>-->
            </td>
    </tr>
    

    <tr>
            <td  class="summary" *ngFor="let cell of summaryRow.cells">{{cell.value}}</td>
            <td class="options">
            </td>
    </tr>
</table>


</div>