.header 
{
    background: #A5B6B9;
}

.no-border{
    border-right: none !important;
    border-top: none;
    border-bottom: none;
}

.options
{
    width: 40px;
}

.summary
{
    background: pink;
}

.summary-total
{
    background: #B9EEF0;
    text-align: center;
}

input {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: none;
}

td {
    width: 40px;
    padding: 0px;
}

input.ng-dirty{
    border-bottom: 5px solid #42A948; /* green */
}