<div class="panel panel-default">
<div class="panel-heading">Summary</div>

<table class="table table-bordered" >
    <tr>
        <td class="header" *ngFor="let cell of headerRow.cells">{{cell.value}}</td><td class="options"></td>
    </tr>
        
    <tr>
        <td class="summary" *ngFor="let cell of summaryRow.cells">{{cell.value}}</td><td class="options"></td>
    <tr>

    <tr>
        <td colspan="12" class="summary-total">{{total}} </td><td class="options"></td>
    <tr>
</table>
</div>    